<div class="navbar">
    <a href="/">
        <h1>
             Yeedler 
        </h1>
    </a>
    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <div class="Boo">
        <a href="/BOO">BOO BITCH!</a>
    </div>
    </div>
</div>