<%- include("partials/head.ejs")%>
<body>
    <%- include("partials/nav.ejs")%>
    <div class="booBitch">
        <h1>BOO BITCH!!!!</h1>
        <h2>404</h2>
        <h5>Page Not Found</h5>
    </div>
    <%-include("partials/foot.ejs")%>
</body>