<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/nav.ejs")%>
    <div class="mainBody">
        <div class="aboutus">
        <p>At <a href="/"><B>Yeeds</B></a>, we believe that every thought—big or small—holds the power to inspire, challenge,<br>
             and transform. A yeed is more than just a passing idea; it’s a spark of insight, a reflection<br>
              of experience, and a voice that deserves to be heard.<br><br><br>

            Our mission is to create a space where thoughts can flow freely, be shared openly, and connect<br>
             minds across the world. Whether profound or simple, every yeed carries meaning, and we exist to<br>
              give them a home.<br><br><br>
            
            Join us in exploring, expressing, and exchanging yeeds—because thoughts shape the world.</p>
        </div>
    </div>
    <%-include("partials/foot.ejs")%>
</body>