<%- include('partials/head.ejs')  %>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="mainBody">
        <p>Index</p>
        <a href="./yeeds">Show All Yeeds</a>
    </div>
    <%-include("partials/foot.ejs")%>
</body>